{% extends 'base.html' %}
{% block content %}
    <h2> Upload Three SS Files Here..</h2>
    <br/>
    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
   <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile01" name="file1">
   </div>
        <br/>
    <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile03" name="file2">
        </div>
        <br/>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" name="file3">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>

</div>
    </form>
      <div class='container'>
     <br/>
        <h5> Hit Submit to merge all three files</h5>
      </div>

{% endblock %}